.row1 {
    display: flex !important;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }
   
.column1 {
  float: left;
  width: 350px;;
  height: 350px;
  margin: 20px;
  border: #333;
  background-color:grey;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin-top: 80px;
}
 
.column1:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  z-index: -1;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}
 
.column1:hover {
  background-color: #e8e8e8;
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 4);
}
 
 
.row1:after {
  content: "";
  display: table;
  clear: both;
}
 
.column1 h1 {
    margin-top: 0px;
   text-align: center;
   }
 
.column1 p {
    margin: 0 10px;
   }

.column1 button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #25316D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }

   .create-goal-button:hover {
    box-shadow: 0px 0px 10px 0px rgba(37, 49, 109, 0.5), 0px 0px 5px 0px rgba(37, 49, 109, 0.5);
 }

 .Track-goal-button:hover {
    box-shadow: 0px 0px 10px 0px rgba(37, 49, 109, 0.5), 0px 0px 5px 0px rgba(37, 49, 109, 0.5);
 }

 .Review-goal-button:hover {
    box-shadow: 0px 0px 10px 0px rgba(37, 49, 109, 0.5), 0px 0px 5px 0px rgba(37, 49, 109, 0.5);
 }

   .column1 img {
    width: 70px;
    height: auto;
    margin: 50px;
    margin-left: 140px;
    margin-bottom: 0px;
   }