.task-tracker {
    display: flex;
    justify-content: space-around;
    position: relative; 
    margin: 5%;
    
   }
   
   .mpageColumn {
    flex: 1 1 auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30%;
    background: white;
    max-width: 300px; 
    margin: 5px;
    
   }
   
   
   .mpageColumn-header {
    width: 100%; 
    text-align: center; 
    position: relative; 
    top: 0; 
    z-index: 1;
   }
   
   .mpageColumn-content {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
   }
   
   .task {
    background-color: #f9f9f9;
    border: 1px solid #25316d;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
   }
   
   .employee-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000; 
   }
   
   
   .employee-details-modal h3 {
    margin-top: 0; 
    color: #333; 
   }
   
   .employee-details-modal p {
    margin-bottom: 10px; 
    color: #666; 
   }
   
   .employee-details-modal button {
    background-color: #007bff; 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-top: 20px; 
    
   }
   
   .employee-details-modal button:hover {
    background-color: #0056b3; 
   }
  
   .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
   }
  
   .comment-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
   }
  
   .employee-details-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%; 
    max-width: 600px; 
   }
   
   
  