.noti-table {
  width: 100%;
  /* border-collapse: collapse; */
 /* margin: 100px; */
 border: 1px solid #ddd;
 margin-top: 30px;


}

.noti-table th,
.noti-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.noti-table th {
  background-color: #ddd;
  color: #25316D;
  padding: 10px;
}


.noti-table tbody td{
  padding: 10px;
}



.tables-container {
  display: flex;
  justify-content: space-between; /* Optional: Adds space between the tables */
  flex-wrap: wrap; /* Allows the items to wrap as needed */
 }
 


/* Approve Table Css */

.Approve h2{
text-align: center;
margin-top: 50px;
}
.Approve{
/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
width: 50%;
margin: auto;
}

.approve-table{
  /* width: 50%;    */
  
  margin: auto;
 border: 1px solid #ddd;
 margin-top: 20px;
 margin-bottom: 20px;
}


.approve-table th,
.approve-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.approve-table th {
  background-color: #ddd;
  color: #25316D;
  padding: 10px;
}
.approve-table tbody td{
  padding: 10px;
}


/* Reject Table css */

.Reject h2{
  text-align: center;
  margin-top: 50px;
  margin: auto;
}
.Reject{
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  width: 50%;
  margin: auto;
  }

  

  .reject-table{
    /* width: 50%;    */
    margin: auto;
   border: 1px solid #ddd;
   margin-top:20px;
    margin-bottom: 20px;
  }


  .reject-table th,
  .reject-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .reject-table th {
    background-color: #ddd;
    color: #25316D;
    padding: 10px;
  }
  .reject-table tbody td{
    padding: 10px;
  }