.profile-section{
   width: 100%;
   margin-left: 1em;
}
.profile-section .profile-logo img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: contain; 
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .profile-logo{
    display: flex;
    justify-content: center !important;
   }


.profile-section h2 {
    font-size: 24px; 
    color: #333; 
    margin-bottom: 10px; 
    font-weight: bold; 
    text-align: center;
   }

   .profile-section p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
      