.goal-tracker {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
 }
 
 .tracker-title {
  margin-bottom: 20px;
 }
 
 .goal-list {
  margin-bottom: 20px;
  gap: 10px;
 }
 
 .goal-list h2 {
  font-size: 1.2em;
  gap: 10px;
 }
 
 .goal-list ul {
  list-style-type: none;
  padding: 0;
  gap: 10px;
 }
 
 .goal-list li {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 5px;
 }
 
 .goal-list li:hover {
  background-color: #e0e0e0;
 }
 
 .goal-details {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 5px;
  width: 600px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  gap: 10px;
 }
 
 .dropdown-container label {
  margin-bottom: 10px;
 }
 
 .dropdown-container {
  display: flex;
  flex-direction: column;
 }
 
 .goal-details h2 {
  margin-bottom: 10px;
 }
 
 .goal-details p {
  margin-bottom: 8px;
 }
 
 .goal-details strong {
  font-weight: bold;
 }
 
 .goal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 70%;
 }
 
 .goal-list {
  width: 30%;
  margin-right: 20px;
 }

 .goal-list li{
  width: 200px;
 }
 
 .goal-details {
  width: 20%;
  margin-left: 7%;
  height: 100dvh;
  width: 100%;
 }
 
 .goal-details button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
 }
 
 .overall-rating {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 .overall-rating h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #343a40;
 }
 
 .overall-rating p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #495057;
 }
 
 .overall-rating p:last-child {
  margin-bottom: 0;
 }
 
 .rating-value {
  display: inline-block;
  margin-right: 5px;
 }
 
 @media (max-width: 768px) {
  .goal-container {
     flex-direction: column;
  }
 
  .goal-list, .goal-details {
     width: 100%;
     margin: 0;
  }
 
  .goal-details {
     width: auto;
     height: auto;
  }
}

.profile-goaldetails{
  display: flex;
}
 